
/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Engagement');



/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/

body {
    color: #666666;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.80857;
}


a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}





/*------------------------------------------------------------------
    Banner
-------------------------------------------------------------------*/

.home-slider{
	position: relative;
	height: 100%;
}

.lbox-caption {
    display: table;
    height: 100%;
    width: 100%;
}
 
.lbox-caption {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
	z-index: 10;
}

.lbox-details {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	height: 100%;
	padding: 11% 0%;
}

.lbox-details::before{
	content: "";
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.lbox-details h1{
	font-size: 54px;
	font-family: 'Engagement', cursive;
	color: #ffffff;
	position: relative;
	z-index: 3;
}

.lbox-details h2{
	font-size: 48px;
	color: #ffffff;
	font-weight: 300;
	position: relative;
	z-index: 3;
}
.lbox-details p{
	color: #ffffff;
	position: relative;
	z-index: 3;
}
.lbox-details p strong{
	color: #881228;
	font-size: 40px;
	font-family: 'Engagement', cursive;
}
.lbox-details a.btn{
	background: #63c7bd;
	padding: 10px 20px;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 0px;
	position: relative;
	z-index: 3;
}
.lbox-details a.btn:hover{
	background: #881228;
}


/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/




.about-box{
	padding: 70px 0px;
	background: url(../images/ptn-bg.jpg);
}

.title-box{
	text-align: center;
	margin-bottom: 30px;
}
.title-box h2{
	font-size: 60px;
	font-family: 'Engagement', cursive;
	color: #222222;
}
.title-box h2 span{
	color: #881228;
	text-decoration: underline;
}
.about-main-info h2{
	font-size: 40px;
	font-family: 'Engagement', cursive;
}
.about-main-info h2 span{
	color: #881228;
	text-decoration: underline;
}
.about-main-info{
	margin-bottom: 30px;
}

.about-m{
	background: #890025;
	padding: 0px 30px;
}

.about-img{
	padding: 30px 0px;
}

.about-img img{
	border-radius: 10px;
}

.about-m ul{
	display: block;
	text-align: center;
	padding-bottom: 30px;
}
.about-m ul li{
	display: inline-block;
	text-align: center;
}
.about-m ul li a{
	background: #528780;
	color: #ffffff;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	display: block;
	border-radius: 50px;
	margin: 0px 5px;
}

.about-m ul li a:hover{
	background: #333333;
	color: #ffffff;
}





/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box{
	padding: 70px 0px;
}

.gallery-box ul{}
.gallery-box ul li{
	position: relative;
	width: 25%;
	margin: 0;
	padding: 0px 15px;
	float: left;
	border: none;
	overflow: hidden;
	margin-bottom: 30px;
}
.gallery-box ul li a{
	position: relative;
	display: inline-block;
	border: 4px solid #ffffff;
}
.gallery-box ul li a::before{
	content: "";
	position: absolute;
	background: rgba(82, 135, 128, 0.9);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 100%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.gallery-box ul li a .overlay{
	background: #881228;
	color: #ffffff;
	font-size: 22px;
	text-align: center;
	width: 38px;
	height: 38px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.gallery-box ul li a:hover::before{
	top: 0;
	opacity: 1;
}
.gallery-box ul li a:hover .overlay{
	opacity: 1;
}
.gallery-box ul li a:hover{
	border: 4px solid #890025;
}




/*------------------------------------------------------------------
    Events
-------------------------------------------------------------------*/

.events-box{
	padding: 70px 0px;
}
.event-inner{
	background: #ffffff;
	text-align: center;
	margin-bottom: 30px;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.event-img{
	margin-bottom: 15px;
	overflow: hidden;
}
.event-img img{
	transition: all 0.9s ease 0s;
}
.event-inner:hover .event-img img{
	-moz-transform: scale(1.5) rotate(-10deg);
	-webkit-transform: scale(1.5) rotate(-10deg);
	-ms-transform: scale(1.5) rotate(-10deg);
	-o-transform: scale(1.5) rotate(-10deg);
	transform: scale(1.5) rotate(-10deg);
}
.event-inner a{
	background: #881228;
	color: #ffffff;
	padding: 5px 10px;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.event-inner a:hover{
	background: #63c7bd;
}












































